@font-face {
  font-family: vazir;
  src: local('Vazir'), url('../fonts/Vazir.ttf') format('truetype');
}

* {
  direction: rtl;
  font-family: vazir;
  font-size: 16px;
  margin: 0px;
}

a {
  text-decoration: none;
}

