.git
.github
.venv
venv
env
__pycache__
*.py[cod]
*.egg-info
.Python
.pytest_cache
.mypy_cache
.idea
.vscode
*.log
db.sqlite3
.env
.env.*
!.env.example
media/**
!media/.gitkeep
staticfiles/**
htmlcov
