body {
  background: hsla(0, 0%, 67%, 1);
  background: linear-gradient(
    0deg,
    hsla(0, 0%, 67%, 1) 0%,
    hsla(0, 0%, 100%, 1) 100%
  );
  background: -moz-linear-gradient(
    0deg,
    hsla(0, 0%, 67%, 1) 0%,
    hsla(0, 0%, 100%, 1) 100%
  );
  background: -webkit-linear-gradient(
    0deg,
    hsla(0, 0%, 67%, 1) 0%,
    hsla(0, 0%, 100%, 1) 100%
  );
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#ABABAB", endColorstr="#FFFFFF", GradientType=1 );
}
.background-white {
  background-color: white !important;
}

/* Typing Animation */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.animation::before .container {
  display: inline-block;
}
.typed-out {
  font-family: far;
  overflow: hidden;
  font-size: 5vw;
  /* animation: 
    typing 2s forwards infinite;
    width: 0;
    animation-delay: 2s; */
}

@media (min-width: 1200px) {
  .typed-out {
    font-size: 4vw;
  }
}

/* Allin Part Writing */
@keyframes drop {
  0% {
    opacity: 0;
  }
  70% {
    transform: translateY(425px);
  }
  100% {
    transform: translateY(380px);
  }
}
.allin-writing {
  width: 50vw;
  height: 10vw;
  position: relative;
  top: -400px !important;
  animation: drop 3s ease-in-out forwards;
  animation-iteration-count: initial;
}

@media (min-width: 1200px) {
  .allin-writing {
    width: 30vw;
    height: 6vw;
  }
}
/* Categories Section */
.category-cards {
  white-space: nowrap;
  overflow-y: hidden !important;
  flex-wrap: nowrap;
  align-items: flex-start;
}

.card-image {
  background-color: #f9f9f9;
  border-radius: 100px;
  width: 125px;
  height: 125px;
}

.category-card:hover .cat-link {
  color: #990000;
  font-size: 1.4rem;
}

.category-card:hover .card-image {
  border: 3px solid #990000;
}

.category-cards img {
  max-width: 125px;
  max-height: 125px;
}

.card-custom {
  width: 140px;
  height: 185px;
  border: none;
  background-color: inherit;
}

.cat-link {
  text-decoration: none;
  color: black;
}

.curve {
  background: hsla(0, 0%, 67%, 1);
  background: linear-gradient(
    0deg,
    hsla(0, 0%, 67%, 1) 0%,
    hsla(0, 0%, 100%, 1) 100%
  );
  background: -moz-linear-gradient(
    0deg,
    hsla(0, 0%, 67%, 1) 0%,
    hsla(0, 0%, 100%, 1) 100%
  );
  background: -webkit-linear-gradient(
    0deg,
    hsla(0, 0%, 67%, 1) 0%,
    hsla(0, 0%, 100%, 1) 100%
  );
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#ABABAB", endColorstr="#FFFFFF", GradientType=1 );

  height: 40px;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}
@media (min-width: 1200px) {
  .curve {
    height: 85px;
  }
}

/* Discount Section */

.swiper-slide {
  height: auto !important;
  margin-left: 10px !important;
  border-radius: 20px;
}
.slider-wraper-custom {
  background-color: #a42e2e;
  border-radius: 20px;
}

.swiper-container-custom {
  background-color: #a42e2e;
}

.swiper-slide {
  text-align: center;
}
.card-image {
  background-color: inherit;
  border: 2px solid black;
}

.card-header {
  color: #990000;
  font-size: 1.1rem;
}
.actual-price {
  color: red;
  text-decoration: line-through;
}

.swiper-button-disabled {
  display: none !important;
}

:root {
  --swiper-navigation-size: 50px;
}
.swiper-nav-btn {
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}

.swiper-nav-btn {
  height: 32px;
  width: 32px;
  background-color: #ffffff;
  border-radius: 50%;
  border: 3px medium black;
}

/* Other Pruducts */
.slider-wraper-custom2 {
  background-color: #f1f1f1;
  border-radius: 20px;
}

.swiper-container-custom2 {
  background-color: #f1f1f1;
}
/* 
.product-card {
  width: 200px !important;
  height: 300px !important;
} */

/* .card-img-top{
  width: 182px;
  height: 182px;
} */