{% extends 'base.html' %} 
{% load static %} 

{% block cssFiles %}
{% comment %}
  linked css files related to this page
{% endcomment %}
<link rel="stylesheet" href="{% static './css/main.css' %}" />
<link rel="stylesheet" href="{% static './css/404.css' %}" />
{% endblock %}

{% block body %}
{% comment %}
the body part goes here
{% endcomment %}



<div class="container d-flex flex-column align-items-center justify-content-center">
    <div class="illustration">😕</div>
    <div class="error-code">404</div>
    <div class="error-message">چیزی که دنبالشی اینجا نیست !</div>
    <a href="{% url 'main:home' %}" class="btn btn-home">برگرد به خانه</a>
</div>






    {% endblock %}

{% block jsFiles %}
  {% comment %}
  javascript files related to this page gose here
  {% endcomment %}
    <!-- Javascript -->

{% endblock %}