{% extends 'base.html' %} 
{% load static %} 

{% block cssFiles %}
{% comment %}
  linked css files related to this page
{% endcomment %}
<link rel="stylesheet" href="{% static './css/main.css' %}" />
{% endblock %}

{% block body %}
{% comment %}
the body part goes here
{% endcomment %}

    <!-- About Us -->
    <section>
      <div class="container">
        <div class="about-us-img text-center">
          <img src="{% static "images/about-us.jpg" alt="" class="img-fluid" %}" />
        </div>
        <div class="text-center">
          <h2 class="p-2 m-3">
            درباره
            <span style="color: #990000"><strong>آلین پارت</strong></span>
          </h2>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. In
            explicabo animi minus corrupti modi quidem voluptatum unde,
            perspiciatis sed ab neque quibusdam vitae deleniti, laborum eveniet.
            Modi, eum. Saepe iste labore laborum necessitatibus? Facere rerum
            enim quam ipsum placeat. Tempore voluptate obcaecati harum hic
            molestiae illo sapiente excepturi quae accusantium facere ipsum
            perferendis nam nesciunt laborum tenetur dicta, quis, maiores, eaque
            quam totam esse aspernatur rem! Repudiandae, magni quos consequuntur
            ipsam labore consequatur illo praesentium nobis perferendis. Nihil
            consequatur eaque laudantium voluptatum dolorum deserunt vitae.
            Maiores animi quis quaerat similique velit vitae, quas itaque, optio
            eum aliquam voluptates voluptate necessitatibus.
          </p>
        </div>
      </div>
    </section>

    {% endblock %}

    {% block jsFiles %}
      {% comment %}
      javascript files related to this page gose here
      {% endcomment %}

    {% endblock %}