{% extends 'base.html' %} 
{% load static %} 

{% block cssFiles %}
{% comment %}
  linked css files related to this page
{% endcomment %}
<link rel="stylesheet" href="{% static './css/main.css' %}" />
{% endblock %}

{% block body %}
{% comment %}
the body part goes here
{% endcomment %}

 <!-- Navigation Bar -->
 <div class="sticky-top pb-4">
  <div class="container pt-4">
    <nav
      class="navbar navbar-expand-lg navbar-nav navbar-custom bg-gradient"
      style="background-color: #990000"
    >
      <div class="container-fluid">
        <button
          class="navbar-toggler navbar-toggler-custom"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span> <i class="fa-solid fa-bars custom-brand"></i></span>
        </button>
        <a class="navbar-brand custom-brand px-2" href="{% url 'main:home' %}">
          <img class='logo ms-2' src="{% static '/images/allin-logo.png' %}" alt="cat't load image" height="50" width="50"/>
        </a>

        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item dropdown nav-item-custom">
              <a
                href=""
                class="nav-link dropdown-toggle"
                role="button"
                data-bs-toggle="dropdown"
                >دسته بندی محصولات</a
              >
              <ul class="dropdown-menu dropdown-menu-custom p-1">
                {% for cat in category %}
                <li class="p-1">
                  <a href="{% url 'main:categories' cat.slug %}" class="dropdown-item"
                  >{{cat}} &raquo;</a
                  >
                  <ul class="submenu dropdown-menu dropdown-menu-custom2">
                    
                    {% for sub_cat in sub_category %}
                    {% if sub_cat.category == cat %}
                    <li><a href="{% url 'main:categories' sub_cat.slug %}" class="dropdown-item">{{sub_cat.name_fa}}</a></li>
                    {% endif %}
                    {% endfor %}
                    
                  </ul>
                </li>
                {% endfor %}
              </ul>
            </li>
            <li class="nav-item nav-item-custom">
              <a href="{% url 'main:contact' %}" class="nav-link"
                >تماس با ما</a
              >
            </li>
            <li class="nav-item nav-item-custom">
              <a href="{% url 'main:about' %}" class="nav-link"
                >درباره ما</a
              >
            </li>
          </ul>
        </div>
        <p class="d-inline-flex gap-1 m-0">
          <button
            class="btn search-btn-custom"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseSearch"
            aria-expanded="false"
            aria-controls="collapseSearch"
          >
            <i class="fa-solid fa-magnifying-glass fa-xl"></i>
          </button>
        </p>
        <div class="collapse search-area p-0" id="collapseSearch">
          <form class="d-flex" role="search" action="{% url 'main:search' %}">
            <input
              class="form-control me-2"
              type="search"
              placeholder="search"
              aria-label="Search"
              name='search'
            />
            <button class="btn btn-outline-success custom-btn" type="submit">
              جستجو
            </button>
          </form>
        </div>
      </div>
    </nav>
  </div>
</div>  
    
    <!-- About Us -->
    <section>
      <div class="container">
        <div class="about-us-img text-center">
          <img src="{% static "images/about-us.jpg" %}" alt="cat't load image" class="img-fluid" />
        </div>
        <div class="text-center">
          <h2 class="p-2 m-3">
            درباره
            <span style="color: #990000"><strong>آلین پارت</strong></span>
          </h2>
          <p class="fs-5 ">
            <strong>شرکت آلین پارت</strong> تنها نماینده رسمی پخش قطعات گروه تولیدی صنعتی پاکشوما ، از سال 1400 فعالیت رسمی خود را آغاز نمود.</br>
            ما در آلین پارت همواره در تلاشیم که قطعات با اصالت و کیفیت را در بهترین زمان ممکن برای مشتریان خود تامین نماییم.</br>
            فعالیت شرکت آلین پارت در انواع گروه محصول ها (لباسشویی ، ظرفشویی ، جاروبرقی ، یخچال و...) 
            در برند های تولید شده توسط گروه پاکشوما (کندی ، زیرووات ، کرال ، کنوود و ...) 
            می باشد.</br>
            ما در آلین پارت برآنیم تا قطعات مورد نیاز شما را چه به صورت عمده و چه به صورت مصرفی تامین نماییم.</br></br>
            <strong class="fs-3 fst-italic fw-lighter">آلین پارت ، قطعاتی که می توانید به آن اعتماد کنید.</strong>
          </p>
        </div>
      </div>
    </section>

    {% endblock %}

    {% block jsFiles %}
      {% comment %}
      javascript files related to this page gose here
      {% endcomment %}

    {% endblock %}