{% extends 'base.html' %} 
{% load static %} 
{% load humanize %}
{% load jalali_tags %}

{% block cssFiles %}
{% comment %}
  linked css files related to this page
{% endcomment %}
<link rel="stylesheet" href="{% static '/css/blog/style.css' %}" />
<link rel="stylesheet" href="{% static '/css/blog/bootstrap.css' %}" />
<link rel="stylesheet" href="{% static '/css/main.css' %}" />
<link rel="stylesheet" href="{% static '/css/blog/font-awesome.css' %}" />
{% endblock %}

{% block body %}


    <div class="container">
        <div class="row">
            <div class="page-content single_content">
                <div class="col-md-9">
                    <div class="content_bx">
                        <img src="{{post.image.url}}" alt="{{post.title}}">
                        <div class="meta">
                            <span><i class="fa fa-clock-o"></i> {{post.created_date|to_jalali:"%Y/%m/%d"}}</span>
                            <span><i class="fas fa-pen"></i> {{ post.author.first_name }} {{ post.author.last_name }}</span>
                            <span>
                                <i class="fa fa-archive"></i> 
                                    {% for tag in tags %}
                                    <a href="#">{{tag}}{% if not forloop.last %} , {% endif %}</a> 
                                    {% endfor %}
                            </span>
                        </div>
                        <h1>{{post.title}}</h1><hr>
                        <div class="p_text">
                            <p>{{post.content|safe}}</p>
                        </div>
                        <div class="post_tags">
                            #
                            {% for tag in tags%}
                            <a href="{% url 'blog:blog_tag' tag.slug %}">{{tag}}</a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    
                    <div class="side_bx">
                        <span class="title">آخرین مطالب</span>
                        <ul>
                            {% for post in all_posts%}
                            <li><a href="{% url 'blog:blog_single' post.id %}">{{post.title}}</a></li>
                            {% endfor %}
                           
                        </ul>
                    </div>
                    <div class="side_bx">
                        <span class="title">به چه مطالبی علاقمندید</span>
                        <ul>
                            {% for tag in all_tags %}
                            <li><a href="{% url 'blog:blog_tag' tag.slug %}">{{tag}}</a></li>
                            {% endfor%}
                        </ul>
                    </div>
                </div>
                
            </div>
        </div>
    </div>


    {% endblock %}

    {% block jsFiles %}
      {% comment %}
      javascript files related to this page gose here
      {% endcomment %}
        <!-- Javascript -->
    
    {% endblock %}