{% extends 'base.html' %}
{% load static %}

{% block cssFiles %}

    <!--  CSS Files -->
    <link rel="stylesheet" href="{% static './css/main.css' %}" />
    <link rel="stylesheet" href="{% static './css/categories.css' %}" />

{% endblock %}

{% block body %}  

    <div class="container">
      <div class="p-5 my-5 bg-secondary text-light rounded-5">
        <h3>{{ cat_name }}</h3>
      </div>
    </div>

    <!-- Ctegories Brands Section -->
    <section id="categories" class="my-4">
      <div class="container-md container-fluid">
        <div class="category-cards card-group row">
          {% for brand in brands %}
          <div
            class="col category-card d-flex align-items-center justify-content-center p-0 mx-2"
          >
            <a href="#" class="card-link">
              <div class="card card-custom align-items-center">
                <div class="card-image p-4">
                  <img
                    src='{% static "images/categories/twin.png" %}'
                    class="card-img-top img-fluid"
                    alt="..."
                  />
                </div>
                <div class="card-body pb-0 mx-auto">
                  <h5 class="card-title text-center">
                    <a class="cat-link" href="#">{{brand}}</a>
                  </h5>
                </div>
              </div>
            </a>
          </div>
        {% endfor %}  
        </div>
      </div>
    </section>


    <!-- Category Parts Swiper -->
    {% for brand in brands %}
    <section>
      <div class="container-md container-fluid mt-5 pt-3">
        <div class="d-flex justify-content-between align-items-center mx-3">
          <h2 class="m-2">{{brand}}</h2>
          <a class="text-dark text-decoration-none" href="#">مشاهده همه </a>
        </div>
        <hr />
        <div class="slider-wraper slider-wraper-custom2 p-2 my-4">
          <div class="swiper-container swiper-container-custom2 swiper px-5">
            <div #swiperRef="#" class="slide-content mySwiper m-1">
              <div class="swiper-wrapper p-2">
        
                <div class="card swiper-slide d-flex">
                  <a class="card-link text-decoration-none text-dark" href="#">
                    <img
                      src='{% static "images/2da03030007.jpg" %}'
                      class="card-img-top img-fluid p-1"
                      alt="..."
                    />
                    <div class="card-body swiper-slide">
                      <h5 class="card-title">پمپ تخلیه مدیا</h5>
                      <hr />
                      <div class="card-text">
                        <p class="product-price mt-1">2,900,000 تومان</p>
                      </div>
                    </div>
                  </a>
                </div>
  
              </div>
              <div class="swiper-button-next swiper-nav-btn d-none d-md-block">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  height="0.5em"
                  viewBox="0 0 320 512"
                >
                  <!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                  <path
                    d="M278.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-160 160c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L210.7 256 73.4 118.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l160 160z"
                  />
                </svg>
              </div>
              <div class="swiper-button-prev swiper-nav-btn d-none d-md-block">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  height="0.5em"
                  viewBox="0 0 320 512"
                >
                  <!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                  <path
                    d="M41.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.3 256 246.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z"
                  />
                </svg>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    {% endfor %}
    

    {% endblock %}

    {% block jsFiles %}
    
  <!-- Javascript -->  
  <script src="{% static './js/swiper.js' %}"></script>

  {% endblock %}