{% extends 'base.html' %}
{% load static %} 

{% block cssFiles %}

{% comment %}
  linked css files related to this page
  {% endcomment %}

  <link rel="stylesheet" href="{% static './css/main.css' %}" />
  <link rel="stylesheet" href="{% static 'css/contact.css' %}" />

  {% endblock %}

  {% block body %}

  {% comment %}
  the body part goes here
  {% endcomment %}

    <!-- Contact Us -->
    <section>
      <div class="container">
        <div class="contact-us-img text-center my-5">
          <img src="{% static "images/contact-us.jpg" %}" alt="cat't load image" class="img-fluid" />
        </div>
        <div class="text-center">
          <h2 class="p-2 m-3">
            <strong class="call">نحوه ثبت سفارش</strong>
          </h2>
          <p>
           جهت ثبت سفارش ، استعلام قیمت و مشاوره جهت خرید می توانید  از طریق پیام رسان های <strong>ایتا</strong> و <strong>تلگرام</strong> با کارشناسان ما در ارتباط باشید.<br><br>
        <div >
           
          <div class="p-2">
          <a href="https://t.me/Allinpart_Support2">
            <span class="mx-3"><img src="{% static "icons/telegram-icon.png" %}" alt="telegram-icon" class="messenger-icon" /></span>
          </a>

            <a href="https://eitaa.com/Allinpart_Support2">
            <span class="mx-3"> <img src="{% static "icons/eita-icon.png" %}" alt="telegram-icon" class="messenger-icon" /></span>
            </a>
          </div>

          
          
           <span class="number">09037348033</span>

           <br><br>
           </div>
           <div>
            <a href="tel:02177602484">
           <div class="p-2"><img src="{% static "images/phone.png" %}" alt="telegram-icon" class="messenger-icon" /></div>
            </a>
            
          <a href="tel:02177602484" class="text-decoration-none text-dark">
           <span class="number">77602484 - 021</span>
          </a>
           <br><br>
           </div>
           پس از روند ثبت سفارش ، پیش فاکتور توسط بخش حسابداری برای شما ارسال می گردد.<br>
           ارسال قطعات با توجه به حجم بار توسط پست یا باربری می باشد.<br>
            امکان  تحویل حضوری و یا ارسال با پیک (اسنپ باکس) در شهر تهران فراهم می باشد.<br><br>
            <strong>آدرس تنها شعبه آلین پارت : </strong> تهران ، بهارستان ، خیابان مجاهدین اسلام ، بعد از بیمارستان معیری ، پلاک 299          
          </p>
        </div>
        <div class="d-flex justify-content-center">
          <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1620.1789062076!2d51.43504395391936!3d35.69281152962776!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3f8e03004a6efdbf%3A0xfd449ba14dc0cd1!2z2KLZhNuM2YYg2b7Yp9ix2Ko!5e0!3m2!1sen!2sam!4v1709637105436!5m2!1sen!2sam" 
          width="600"
          height="450" 
          style="border:0;" 
          allowfullscreen="" 
          loading="lazy" 
          referrerpolicy="no-referrer-when-downgrade">
        </iframe>
    </div>
      </div>
    </section>

    <!-- Contact Form -->
    <section>
      <div class="container">
        <hr class="mt-5 pt-5"> 
        <p class=""><strong> درصورت تمایل جهت بهبود خدمات لطفا انتقادات ، پیشنهادات و یا درخواست خود را از طریق فرم زیر ارسال فرمایید.</strong></p>  
        <form class="row g-5 mt-4" action="{% url 'main:contact' %}" method="post">
          {% csrf_token %}
          <div class="col-md-6 mt-3">
            <label for="inputname" class="form-label">نام و نام خانوادگی</label>
            <input name="name" type="text" class="form-control" id=:"inputname" aria-label="First name">
         </div>
         <div class="col-md-6 mt-3">
            <label for="inputsubject" class="form-label">موضوع</label>
            <input name="subject" type="text" class="form-control" id="inputsubject" aria-label="Last name">
          </div>
          <div class="col-12 mt-3">
            <label for="inputEmail" class="form-label">آدرس ایمیل</label>
            <input name="email" type="email" class="form-control" id="inputEmail" placeholder="example@example.com">
          </div>
          <div class="col-12 mt-3">
            <label for="textinput" class="form-label">انتقاد و پیشنهاد</label>
            <textarea name="message" class="form-control" id="textinput" rows="5"></textarea>
          </div>
          <div class="col-12 mt-3">
            <button class="btn btn-primary" type="submit">ارسال فرم</button>
          </div>
       </form>
        {% if messages %}
          {% for message in messages %}
            {% if 'success' in message.tags %}
            <div class="alert alert-dismissible alert-success mt-3">
              <strong>{{message}}</strong>
            </div>
            {% else %}
            <div class="alert alert-dismissible alert-danger mt-3">
              <strong>{{message}}</strong>
           </div>
            {% endif %}
          {% endfor %}
        {% endif %}
      </div>
    </section>

    {% endblock %}

    {% block jsFiles %}
      {% comment %}
      javascript files related to this page gose here
      {% endcomment %}

    {% endblock %}