{% extends 'base.html' %}
{% load static %} 

{% block cssFiles %}

{% comment %}
  linked css files related to this page
  {% endcomment %}

  <link rel="stylesheet" href="{% static './css/main.css' %}" />
  <link rel="stylesheet" href="{% static 'css/contact.css' %}" />

  {% endblock %}

  {% block body %}

  {% comment %}
  the body part goes here
  {% endcomment %}

   <!-- Navigation Bar -->
<div class="sticky-top pb-4">
  <div class="container pt-4">
    <nav
      class="navbar navbar-expand-lg navbar-nav navbar-custom bg-gradient"
    >
      <div class="container-fluid">
        <button
          class="navbar-toggler navbar-toggler-custom"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span> <i class="fa-solid fa-bars custom-brand"></i></span>
        </button>
        <a class="navbar-brand custom-brand px-2" href="{% url 'main:home' %}">
          <img class='logo ms-2' src="{% static '/images/allin-logo.png' %}" alt="cat't load image" height="50" width="50"/>
        </a>

        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav navbar-nav-scroll">
            <li class="nav-item dropdown nav-item-custom">
              <a
                href=""
                class="nav-link dropdown-toggle"
                role="button"
                data-bs-toggle="dropdown"
                >دسته بندی محصولات</a
              >
              <ul class="dropdown-menu dropdown-menu-custom p-1">
                {% for cat in category %}
                <li class="p-1">
                  <a href="{% url 'main:categories' cat.slug %}" class="dropdown-item"
                  >{{cat}} &raquo;</a
                  >
                  <ul class="submenu dropdown-menu dropdown-menu-custom2">
                    
                    {% for sub_cat in sub_category %}
                    {% if sub_cat.category == cat %}
                    <li><a href="{% url 'main:categories' sub_cat.slug %}" class="dropdown-item">{{sub_cat.name_fa}}</a></li>
                    {% endif %}
                    {% endfor %}
                    
                  </ul>
                </li>
                {% endfor %}
              </ul>
            </li>
            <li class="nav-item nav-item-custom">
              <a href="{% url 'main:contact' %}" class="nav-link"
                >تماس با ما</a
              >
            </li>
            <li class="nav-item nav-item-custom">
              <a href="{% url 'main:about' %}" class="nav-link"
                >درباره ما</a
              >
            </li>
          </ul>
        </div>
        <p class="d-inline-flex gap-1 m-0">
          <button
            class="btn search-btn-custom"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseSearch"
            aria-expanded="false"
            aria-controls="collapseSearch"
          >
            <i class="fa-solid fa-magnifying-glass fa-xl"></i>
          </button>
        </p>
        <div class="collapse search-area p-0" id="collapseSearch">
          <form class="d-flex" role="search" action="{% url 'main:search' %}">
            <input
              class="form-control me-2"
              type="search"
              placeholder="search"
              aria-label="Search"
              name='search'
            />
            <button class="btn btn-outline-success custom-btn" type="submit">
              جستجو
            </button>
          </form>
        </div>
      </div>
    </nav>
  </div>
</div>  

    <!-- Contact Us -->
    <section>
      <div class="container">
        <div class="contact-us-img text-center my-5">
          <img src="{% static "images/contact-us.jpg" %}" alt="cat't load image" class="img-fluid" />
        </div>
        <div class="text-center">
          <h2 class="p-2 m-3">
            <strong class="call">نحوه ثبت سفارش</strong>
          </h2>
          <p>
           جهت ثبت سفارش ، استعلام قیمت و مشاوره جهت خرید می توانید  از طریق ایتا و تلگرام با شماره های زیر با کارشناسان ما در ارتباط باشید.<br><br>
           <div class="">
           <span class="p-2"><img src="{% static "images/telegram-icon.png" %}" alt="telegram-icon" class="messenger-icon" /></span>
           <strong class="">شماره تلگرام : </strong> 
           <span >09369033128</span>
           <br><br>
           </div>
           <div>
           <span class="p-2"><img src="{% static "images/eita-icon.png" %}" alt="telegram-icon" class="messenger-icon" /></span>
           <strong>شماره ایتا : </strong>
           <span> 09358101587</span>
           <br><br>
           </div>
           <div>
           <span class="p-2"><img src="{% static "images/phone.png" %}" alt="telegram-icon" class="messenger-icon" /></span>
           <strong>شماره تماس : </strong>
           <span>77602484 - 021</span>
           <br><br>
           </div>
           پس از روند ثبت سفارش ، پیش فاکتور توسط بخش حسابداری برای شما ارسال می گردد.<br>
           ارسال قطعات با توجه به حجم بار توسط پست یا باربری می باشد.<br>
            امکان  تحویل حضوری و یا ارسال با پیک (اسنپ باکس) در شهر تهران فراهم می باشد.<br><br>
            <strong>آدرس تنها شعبه آلین پارت : </strong> تهران ، بهارستان ، خیابان مجاهدین اسلام ، بعد از بیمارستان معیری ، پلاک 299          
          </p>
        </div>
        <div class="d-flex justify-content-center">
          <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1620.1789062076!2d51.43504395391936!3d35.69281152962776!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3f8e03004a6efdbf%3A0xfd449ba14dc0cd1!2z2KLZhNuM2YYg2b7Yp9ix2Ko!5e0!3m2!1sen!2sam!4v1709637105436!5m2!1sen!2sam" 
          width="600"
          height="450" 
          style="border:0;" 
          allowfullscreen="" 
          loading="lazy" 
          referrerpolicy="no-referrer-when-downgrade">
        </iframe>
    </div>
      </div>
    </section>

    <!-- Contact Form -->
    <section>
      <div class="container">
        <hr class="mt-5 pt-5"> 
        <p class=""><strong> درصورت تمایل جهت بهبود خدمات لطفا انتقادات ، پیشنهادات و یا درخواست خود را از طریق فرم زیر ارسال فرمایید.</strong></p>  
        <form class="row g-5 mt-4" action="{% url 'main:contact' %}" method="post">
          {% csrf_token %}
          <div class="col-md-6 mt-3">
            <label for="inputname" class="form-label">نام و نام خانوادگی</label>
            <input name="name" type="text" class="form-control" id=:"inputname" aria-label="First name">
         </div>
         <div class="col-md-6 mt-3">
            <label for="inputsubject" class="form-label">موضوع</label>
            <input name="subject" type="text" class="form-control" id="inputsubject" aria-label="Last name">
          </div>
          <div class="col-12 mt-3">
            <label for="inputEmail" class="form-label">آدرس ایمیل</label>
            <input name="email" type="email" class="form-control" id="inputEmail" placeholder="example@example.com">
          </div>
          <div class="col-12 mt-3">
            <label for="textinput" class="form-label">انتقاد و پیشنهاد</label>
            <textarea name="message" class="form-control" id="textinput" rows="5"></textarea>
          </div>
          <div class="col-12 mt-3">
            <button class="btn btn-primary" type="submit">ارسال فرم</button>
          </div>
       </form>
        {% if messages %}
          {% for message in messages %}
            {% if 'success' in message.tags %}
            <div class="alert alert-dismissible alert-success mt-3">
              <strong>{{message}}</strong>
            </div>
            {% else %}
            <div class="alert alert-dismissible alert-danger mt-3">
              <strong>{{message}}</strong>
           </div>
            {% endif %}
          {% endfor %}
        {% endif %}
      </div>
    </section>

    {% endblock %}

    {% block jsFiles %}
      {% comment %}
      javascript files related to this page gose here
      {% endcomment %}

    {% endblock %}