{% extends 'base.html' %}
{% load static %} 

{% block cssFiles %}

{% comment %}
  linked css files related to this page
  {% endcomment %}

  <link rel="stylesheet" href="{% static './css/main.css' %}" />

  {% endblock %}

  {% block body %}

  {% comment %}
  the body part goes here
  {% endcomment %}

    <!-- Contact Us -->
    <section>
      <div class="container">
        <div class="contact-us-img text-center my-5">
          <img src="{% static "images/contact-us.jpg" %}" alt="" class="img-fluid" />
        </div>
        <div class="text-center">
          <h2 class="p-2 m-3">
            <strong>تماس با ما</strong>
          </h2>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. In
            explicabo animi minus corrupti modi quidem voluptatum unde,
            perspiciatis sed ab neque quibusdam vitae deleniti, laborum eveniet.
            Modi, eum. Saepe iste labore laborum necessitatibus? Facere rerum
            enim quam ipsum placeat. Tempore voluptate obcaecati harum hic
            molestiae illo sapiente excepturi quae accusantium facere ipsum
            perferendis nam nesciunt laborum tenetur dicta, quis, maiores, eaque
            quam totam esse aspernatur rem! Repudiandae, magni quos consequuntur
            ipsam labore consequatur illo praesentium nobis perferendis. Nihil
            consequatur eaque laudantium voluptatum dolorum deserunt vitae.
            Maiores animi quis quaerat similique velit vitae, quas itaque, optio
            eum aliquam voluptates voluptate necessitatibus.
          </p>
        </div>
      </div>
    </section>

    <!-- Contact Form -->
    <section>
      <div class="container">
        <hr class="mt-5 pt-5"> 
        <p class=""><strong> درصورت تمایل جهت بهبود خدمات لطفا انتقادات ، پیشنهادات و یا درخواست خود را از طریق فرم زیر ارسال فرمایید.</strong></p>  
        <form class="row g-5 mt-4" action="{% url 'main:contact' %}" method="post">
          {% csrf_token %}
          <div class="col-md-6 mt-3">
            <label for="inputname" class="form-label">نام و نام خانوادگی</label>
            <input name="name" type="text" class="form-control" id=:"inputname" aria-label="First name">
         </div>
         <div class="col-md-6 mt-3">
            <label for="inputsubject" class="form-label">موضوع</label>
            <input name="subject" type="text" class="form-control" id="inputsubject" aria-label="Last name">
          </div>
          <div class="col-12 mt-3">
            <label for="inputEmail" class="form-label">آدرس ایمیل</label>
            <input name="email" type="email" class="form-control" id="inputEmail" placeholder="example@example.com">
          </div>
          <div class="col-12 mt-3">
            <label for="textinput" class="form-label">انتقاد و پیشنهاد</label>
            <textarea name="message" class="form-control" id="textinput" rows="5"></textarea>
          </div>
          <div class="col-12 mt-3">
            <button class="btn btn-primary" type="submit">ارسال فرم</button>
          </div>
       </form>
        {% if messages %}
          {% for message in messages %}
            {% if 'success' in message.tags %}
            <div class="alert alert-dismissible alert-success mt-3">
              <strong>{{message}}</strong>
            </div>
            {% else %}
            <div class="alert alert-dismissible alert-danger mt-3">
              <strong>{{message}}</strong>
           </div>
            {% endif %}
          {% endfor %}
        {% endif %}
      </div>
    </section>

    {% endblock %}

    {% block jsFiles %}
      {% comment %}
      javascript files related to this page gose here
      {% endcomment %}

    {% endblock %}