{% extends 'base.html' %} 
{% load static %} 
{% load humanize %}

{% block cssFiles %}
{% comment %}
  linked css files related to this page
{% endcomment %}
<link rel="stylesheet" href="{% static './css/main.css' %}" />
<link rel="stylesheet" href=".{% static './css/home.css' %}" />
{% endblock %}

{% block body %}
{% comment %}
the body part goes here
{% endcomment %}
<body class="">

  <!-- Navigation Bar -->
<div class="sticky-top pb-4">
  <div class="container pt-4">
    <nav
      class="navbar navbar-expand-lg navbar-nav navbar-custom bg-gradient"
    >
      <div class="container-fluid">
        <button
          class="navbar-toggler navbar-toggler-custom"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span> <i class="fa-solid fa-bars custom-brand"></i></span>
        </button>
        <a class="navbar-brand custom-brand px-2" href="{% url 'main:home' %}">
          <img class='logo ms-2' src="{% static '/images/allin-logo.png' %}" alt="cat't load image" height="50" width="50"/>
        </a>

        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav navbar-nav-scroll">
            <li class="nav-item dropdown nav-item-custom">
              <a
                href=""
                class="nav-link dropdown-toggle"
                role="button"
                data-bs-toggle="dropdown"
                >دسته بندی محصولات</a
              >
              <ul class="dropdown-menu dropdown-menu-custom p-1">
                {% for cat in category %}
                <li class="p-1">
                  <a href="{% url 'main:categories' cat.slug %}" class="dropdown-item"
                  >{{cat}} &raquo;</a
                  >
                  <ul class="submenu dropdown-menu dropdown-menu-custom2">
                    
                    {% for sub_cat in sub_category %}
                    {% if sub_cat.category == cat %}
                    <li><a href="{% url 'main:categories' sub_cat.slug %}" class="dropdown-item">{{sub_cat.name_fa}}</a></li>
                    {% endif %}
                    {% endfor %}
                    
                  </ul>
                </li>
                {% endfor %}
              </ul>
            </li>
            <li class="nav-item nav-item-custom">
              <a href="{% url 'main:contact' %}" class="nav-link"
                >تماس با ما</a
              >
            </li>
            <li class="nav-item nav-item-custom">
              <a href="{% url 'main:about' %}" class="nav-link"
                >درباره ما</a
              >
            </li>
          </ul>
        </div>
        <p class="d-inline-flex gap-1 m-0">
          <button
            class="btn search-btn-custom"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseSearch"
            aria-expanded="false"
            aria-controls="collapseSearch"
          >
            <i class="fa-solid fa-magnifying-glass fa-xl"></i>
          </button>
        </p>
        <div class="collapse search-area p-0" id="collapseSearch">
          <form class="d-flex" role="search" action="{% url 'main:search' %}">
            <input
              class="form-control me-2"
              type="search"
              placeholder="search"
              aria-label="Search"
              name='search'
            />
            <button class="btn btn-outline-success custom-btn" type="submit">
              جستجو
            </button>
          </form>
        </div>
      </div>
    </nav>
  </div>
</div>  

<!-- Slider Section -->
<section class="slider mb-4">
  <div class="container container-fluid">
    <div id="carouselIndicators" class="carousel slide" data-bs-ride="carousel">
      
      <div class="carousel-inner rounded-5">
        <div class="carousel-item bg-body active">
          <img src="{% static "./images/slider/banner1-crimson.jpg" %}" class="d-block
          img-fluid" alt="can't load image" />
        </div>
        <div class="carousel-item bg-body">
          <img src="{% static "./images/slider/banner2.jpg" %}" class="d-block
          img-fluid" alt="can't load image" />
        </div>
        <div class="carousel-item bg-body">
          <img src="{% static "./images/slider/banner3.jpg" %}" class="d-block
          img-fluid" alt="can't load image" />
        </div>
        <div class="carousel-item bg-body">
          <img src="{% static "./images/slider/banner4.jpg" %}" class="d-block
          img-fluid" alt="can't load image" />
        </div>
        <div class="carousel-item bg-body">
          <img src="{% static "./images/slider/banner5.jpg" %}" class="d-block
          img-fluid" alt="can't load image" />
        </div>
        <div class="carousel-item bg-body">
          <img src="{% static "./images/slider/banner6.jpg" %}" class="d-block
          img-fluid" alt="can't load image" />
        </div>
      </div>
      <div class="carousel-indicators justify-content-center">
        <button
          type="button"
          data-bs-target="#carouselIndicators"
          data-bs-slide-to="0"
          class="active"
          aria-current="true"
          aria-label="Slide 1"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselIndicators"
          data-bs-slide-to="1"
          aria-label="Slide 2"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselIndicators"
          data-bs-slide-to="2"
          aria-label="Slide 3"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselIndicators"
          data-bs-slide-to="3"
          aria-label="Slide 4"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselIndicators"
          data-bs-slide-to="4"
          aria-label="Slide 5"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselIndicators"
          data-bs-slide-to="5"
          aria-label="Slide 6"
        ></button>
      </div>
    </div>
  </div>
  <!-- Category Cards Section -->
</section>



<!--Allin Part Animation-->
<div class="container">
  <div class="d-flex justify-content-center align-items-center">
    <div class="text-center m-4 text-nowrap ">
      <img src="{% static "./images/allin-writing.png" %}" class="allin-writing" alt="can't load image">
    </div>
  </div>
</div>

<!-- Typing Text Animation -->
<div class="container">
  <div class="d-flex justify-content-center align-items-center">
    <div class="text-center m-4 text-nowrap">
      <h1 class="typed-out">تنها نمایندگی رسمی فروش قطعات شرکت پاکشوما</h1>
    </div>
  </div>
</div>

<!-- Ctegories Section -->
<section id="categories" class="">
  <div class="container-md container-fluid">
    <div class="category-cards card-group row row-cols-7 gx-5 w-100">
      
      
        {% for cat in category %}
        <div class="col category-card d-flex align-items-center justify-content-center p-0 mx-2">
          <a href="{% url 'main:categories' cat.slug %}" class="card-link">
            <div class="card card-custom align-items-center">
              <div class="card-image p-4" >
                <img
                  src="{{cat.icon.url}}"
                  class="card-img-top img-fluid "
                  alt="can't load image"/>
              </div>
              <div class="card-body pb-0">
                <h5 class="card-title text-center">
                  <a class="cat-link" href="{% url 'main:categories' cat.slug %}">{{cat.name_fa}}</a>
                </h5>
              </div>
            </div>
          </a>
        </div>
        {% endfor %}
        
      
    </div>
  </div>
</section>

<div class="background-white">
  <div class="curve">
  </div>

<!-- Discounted Products -->
<section class="discounted">
  <div class="container-md container-fluid pt-5">
    <div class="d-flex justify-content-between align-items-center mx-3">
      <h2 style='color:#DC143C' class="m-2"><strong><span style='color:#AA98A9'>پیشنهاد</span> شگفت انگیز</strong></h2>  
    </div>
    <hr />
    <div class="slider-wraper slider-wraper-custom p-2 my-4 bg-gradient">
      <div class="swiper-container swiper-container-custom swiper px-5 bg-gradient">
        <div #swiperRef="#" class="slide-content mySwiper m-1">
          <div class="swiper-wrapper p-2">
            {% for dis in discounts %}
            
            <div class=" swiper-slide ">
              <a class="card-link text-decoration-none text-dark h-100" href="{% url 'main:part_detail' dis.slug %}">
                <div class='card text-center p-1 h-100'>
                  <div class="card-header">
                    <small class="">فروش ویژه</small>
                  </div>
                  <img
                    src="{{dis.image_tumbnail.url}}"
                    class="card-img-top img-fluid p-1"
                    alt="failed to load image"/>
                
                  <div class="card-body swiper-slide h-25 d-flex align-items-end justify-content-center">
                    <div class='w-100'>
                     <h5 class="card-title">{{dis.name}} </h5>
                      <hr />
                      <div class="card-text">
                         <small class="product-price mt-1 text-danger text-decoration-line-through"><strong>{{dis.price|intcomma}} تومان</strong></small>
                         <p class="product-price mt-1"><strong>{{dis.discounted_price|intcomma}} تومان</strong></p>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>

            {% endfor %}
          </div>
          <div class="swiper-button-next swiper-nav-btn d-none d-md-block">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="0.5em"
              viewBox="0 0 320 512"
            >
              <!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
              <path
                d="M278.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-160 160c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L210.7 256 73.4 118.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l160 160z"
              />
            </svg>
          </div>
          <div class="swiper-button-prev swiper-nav-btn d-none d-md-block">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="0.5em"
              viewBox="0 0 320 512"
            >
              <!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
              <path
                d="M41.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.3 256 246.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z"
              />
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Category Products -->
{% for cat in category%}
<section class="category">
  <div class="container-md container-fluid mt-5 pt-3">
    <div class="d-flex justify-content-between align-items-center mx-3">
      <h1 class="m-2 h2">{{cat.name_fa}}</h1>
      <a class="text-dark text-decoration-none" href="{% url 'main:categories' cat.slug %}"><strong>مشاهده همه >></strong></a>
    </div>
    <hr />
    <div class="slider-wraper slider-wraper-custom2 p-2 my-4">
      <div class="swiper-container swiper-container-custom2 swiper px-5">
        <div #swiperRef="#" class="slide-content mySwiper m-1">
          <div class="swiper-wrapper p-2">
            {% for part in parts %}
            {% if part.category == cat %}
            
              <div class=" swiper-slide product-card">
                <a class="card-link text-decoration-none text-dark" href="{% url 'main:part_detail' part.slug %}">
                  <div class='card text-center p-1 h-100'>
                    <img
                      src="{{part.image_tumbnail.url}}"
                      class="card-img-top img-fluid p-1"
                      alt="failed to load image"/>
                  
                    <div class="card-body swiper-slide h-25 d-flex align-items-end justify-content-center">
                      <div class='w-100'>
                       <h5 class="card-title">{{part.name}} </h5>
                        <hr />
                        <div class="card-text">
                           <p class="product-price mt-1"><strong>{{part.price|intcomma}} تومان</strong></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
              </div>

            {% endif %}
            {% endfor %}
          </div>
        <div class="swiper-button-next swiper-nav-btn d-none d-md-block">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="0.5em"
              viewBox="0 0 320 512"
            >
              <!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
              <path
                d="M278.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-160 160c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L210.7 256 73.4 118.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l160 160z"
              />
            </svg>
          </div>
          <div class="swiper-button-prev swiper-nav-btn d-none d-md-block">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="0.5em"
              viewBox="0 0 320 512"
            >
              <!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
              <path
                d="M41.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.3 256 246.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z"
              />
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endfor %}
<div>
{% endblock %}

{% block jsFiles %}
  {% comment %}
  javascript files related to this page gose here
  {% endcomment %}
    <!-- Javascript -->
    <script src="{% static './js/swiper.js' %}"></script>

{% endblock %}

