<!DOCTYPE html>
<html dir="rtl" lang="fa-IR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>آلین پارت | فروش قطعات پاکشوما و اکسسوری</title>
    <link rel="stylesheet" href="style.css">
    <link rel="icon" type="image/png" href="icons/allin-icon.PNG">
    
</head>
<body>
    <div class="header">
        <h1 >آلین پارت</h1>
        <p>تنها نمایندگی رسمی فروش قطعات پاکشوما
        </p>
    </div>
    <div class="navbar">
        
        <a class="home" href="#">
            <img src="icons/home-icon-white.png" alt="خانه" class="img">
            <img src="icons/home-icon-crimson.png" alt="خانه" class="hover-img">
        </a>
        <a href="#">لباسشویی</a>
        <a href="#">ظرفشویی</a>
        <a href="#">جاروبرقی</a>
        <a href="#">یخچال</a>
        <a href="#">اکسسوری</a>
        <a class="left" href="#">تماس با ما</a>          
    </div>
    
      
    </body>
</html>

