{% extends 'base.html' %}
{% load static %} 
{% load humanize %} 
{% block cssFiles %} {% comment %} linked css files related to this page {% endcomment %}

<!--  CSS Files -->
<link rel="stylesheet" href="{% static './css/main.css' %}" />
<link rel="stylesheet" href="{% static './css/part_single.css' %}" />

{% endblock %} {% block body %} {% comment %} the body part goes here {% endcomment %}

 <!-- Navigation Bar -->
 <div class="sticky-top pb-4">
  <div class="container pt-4">
    <nav
      class="navbar navbar-expand-lg navbar-nav navbar-custom bg-gradient"
      style="background-color: #990000"
    >
      <div class="container-fluid">
        <button
          class="navbar-toggler navbar-toggler-custom"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span> <i class="fa-solid fa-bars custom-brand"></i></span>
        </button>
        <a class="navbar-brand custom-brand px-2" href="{% url 'main:home' %}">
          <img class='logo ms-2' src="{% static '/images/allin-logo.png' %}" alt="cat't load image" height="50" width="50"/>
        </a>

        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav navbar-nav-scroll">
            <li class="nav-item dropdown nav-item-custom">
              <a
                href=""
                class="nav-link dropdown-toggle"
                role="button"
                data-bs-toggle="dropdown"
                >دسته بندی محصولات</a
              >
              <ul class="dropdown-menu dropdown-menu-custom p-1">
                {% for cat in category %}
                <li class="p-1">
                  <a href="{% url 'main:categories' cat.slug %}" class="dropdown-item"
                  >{{cat}} &raquo;</a
                  >
                  <ul class="submenu dropdown-menu dropdown-menu-custom2">
                    
                    {% for sub_cat in sub_category %}
                    {% if sub_cat.category == cat %}
                    <li><a href="{% url 'main:categories' sub_cat.slug %}" class="dropdown-item">{{sub_cat.name_fa}}</a></li>
                    {% endif %}
                    {% endfor %}
                    
                  </ul>
                </li>
                {% endfor %}
              </ul>
            </li>
            <li class="nav-item nav-item-custom">
              <a href="{% url 'blog:blog_home' %}" class="nav-link"
                >وبلاگ</a
              >
            </li>
            <li class="nav-item nav-item-custom">
              <a href="{% url 'main:contact' %}" class="nav-link"
                >تماس با ما</a
              >
            </li>
            <li class="nav-item nav-item-custom">
              <a href="{% url 'main:about' %}" class="nav-link"
                >درباره ما</a
              >
            </li>
          </ul>
        </div>
        <p class="d-inline-flex gap-1 m-0">
          <button
            class="btn search-btn-custom"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseSearch"
            aria-expanded="false"
            aria-controls="collapseSearch"
          >
            <i class="fa-solid fa-magnifying-glass fa-xl"></i>
          </button>
        </p>
        <div class="collapse search-area p-0" id="collapseSearch">
          <form class="d-flex" role="search" action="{% url 'main:search' %}">
            <input
              class="form-control me-2"
              type="search"
              placeholder="search"
              aria-label="Search"
              name='search'
            />
            <button class="btn btn-outline-success custom-btn" type="submit">
              جستجو
            </button>
          </form>
        </div>
      </div>
    </nav>
  </div>
</div>  

<div class="container">
  <!-- top navigation -->
  <div class="m-3 my-4 text-secondary">
    <p class="py-2">
      <a
        class="text-decoration-none text-dark"
        href="{% url 'main:categories' part.category.slug %}"
        >{{part.category}}</a
      >
      /
      <a
        class="text-decoration-none text-dark"
        href="{% url 'main:categories' part.sub_category.slug %}"
        >{{part.sub_category.name_fa}}</a
      >
      /
      <span>{{part.name}}</span>
    </p>
  </div>
  <div class="container part">
    <div class="row my-3">
      <!-- image section-->
      <div class="col-lg-5 part-img">
        <div
          style="
            --swiper-navigation-color: #fff;
            --swiper-pagination-color: #fff;
          "
          class="swiper mySwiper2 border border-4 rounded-5"
        >
          <div class="swiper-wrapper">
            {% for image in images %}
            <div class="swiper-slide swiper-slide-custom">
              <img class="swiper-slide-custom" src="{{image.image.url}}" />
            </div>
            {% endfor %}
          </div>
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
        </div>
        <div thumbsSlider="" class="swiper mySwiper">
          <div class="swiper-wrapper justify-content-center">
            {% for image in images %}
            <div class="swiper-slide swiper_tumbnail">
              <img src="{{image.image.url}}" />
            </div>
            {% endfor %}
          </div>
        </div>
      </div>


      <!-- part summary -->
      <div class="col-lg-7 part-summary d-flex-column">
        <h1 class="p-3"><strong>{{part.name }}</strong></h1>
        <p class="p-2">
          <span class="text-danger"
            ><strong>مدل های به کار رفته : </strong>
          </span>
          {{part.used_models}}
        </p>
        <p class="px-2"><strong>کد فنی : </strong>{{part.part_number}}</p>

        <p class="px-2"><strong>توضیحات محصول : </strong></p>
        <div class=>
        <p class="mb-5">{{part.description}}</p>
      </div>

        {% if part.is_onsale == 1 %}
      <div
          class="pricebox h-0 my-3 p-4 rounded-5 d-flex align-items-center justify-content-between">
          <span class="h4 me-2 pe-2 text-nowrap">قیمت : </span>
          <div class="text-center">
            <span
              class="h6 px-1 text-decoration-line-through"
              style="color: #e5e4e2"
              >{{part.price|intcomma}} تومان</span
            >
            <span class="h4 px-1">{{part.discounted_price|intcomma}} تومان</span>
          </div>
        </div>
        {% elif part.popular == 1 %}
        <div
          class="pricebox h-0 my-3 p-4 rounded-5 d-flex align-items-center justify-content-between"
        >
          <span class="h4 me-2 pe-2 text-nowrap">قیمت : </span>
          <span class="h4 px-1">{{part.price|intcomma}} تومان</span>
        </div>
        {% else %}
        <div
          class="pricebox h-0 my-3 p-4 rounded-5 d-flex align-items-center justify-content-between"
        >
          <span class="h4 me-2 pe-2 text-nowrap">قیمت : </span>
          <span class="h4 px-1">استعلام بگیرید</span>
        </div>
        {% endif %}
        <p class="order-parag d-inline-block my-5">
        جهت خرید <strong>{{part.name}}</strong>، استعلام قیمت و یا دریافت مشاوره جهت خرید
        <a href="{% url 'main:contact' %}"> <button type="button" class="btn btn-danger">اینجا</button></a> کلیک کنید.
        </p>
    </div>
  </div>
</div>

<!-- Comments-->
<section>
  <div class="container">
    <hr>
    <p class="h5">{{comments|length}} دیدگاه برای {{part.name}} ثبت شده است. </P>
    {% for comment in comments %}
    <div class="comment">
      <div>
        <img class="user-icon class=" src="{% static './icons/user-icon.svg' %}" width="50" height="50" />
        <strong class="mx-2">{{comment.name}}</strong>
        <i class="fa-regular fa-clock fa-xs"></i>
        <small class="">{{comment.created_date|naturalday}}</small>
        <p class="m-2">{{comment.comment}}</p>
        <hr>
      </div>
    </div>
    {% empty %}
    <p class="mt-4">اولین نفری باشید که برای {{part.name}} دیدگاهی ثبت می کند.</P>
    {% endfor %}
  </div>
  <div class="container">
    <form class="row g-5 mt-4" action="{% url 'main:part_detail' slug=part.slug %}" method="post">
      {% csrf_token %}
      <div class="col-md-6 mt-3">
        <label for="inputname" class="form-label">نام و نام خانوادگی</label>
        <input name="name" type="text" class="form-control" id=:"inputname" aria-label="First name">
      </div>
      <div class="col-md-6 mt-3">
        <label for="inputEmail" class="form-label">آدرس ایمیل</label>
        <input name="email" type="email" class="form-control" id="inputEmail" placeholder="example@example.com">
      </div>
      <div class="col-12 mt-3">
        <label for="textinput" class="form-label">دیدگاه خود را بنویسید : </label>
        <textarea name="comment" class="form-control" id="textinput" rows="5"></textarea>
      </div>
      <div class="col-12 mt-3">
        <button class="btn btn-primary" type="submit">ارسال نظر</button>
      </div>
    </form>
    {% if messages %}
      {% for message in messages %}
        {% if 'success' in message.tags %}
        <div class="alert alert-dismissible alert-success mt-3">
          <strong>{{message}}</strong>
        </div>
        {% else %}
        <div class="alert alert-dismissible alert-danger mt-3">
          <strong>{{message}}</strong>
        </div>
        {% endif %}
      {% endfor %}
    {% endif %}
  </div>
</section>

{% endblock %} {% block jsFiles %} {% comment %} javascript files related to
this page gose here {% endcomment %}

<!-- JS file -->
<script src="{% static './js/imageSwiper.js' %}"></script>

{% endblock %}
