{% extends 'base.html' %}
{% load static %} 

{% block cssFiles %}

{% comment %}
  linked css files related to this page
  {% endcomment %}

    <!--  CSS Files -->
    <link rel="stylesheet" href="{% static './css/main.css' %}" />
    <link rel="stylesheet" href="{% static './css/part_single.css' %}" />

    {% endblock %}

    {% block body %}

    {% comment %}
    the body part goes here
    {% endcomment %}
  
    <div class="container">
      <div class="m-3 text-secondary"><p>ظرفشویی / پاکشوما / المنت</p></div>
      <div class="container part">
        <div class="row my-3">
          <div class="col-lg-5 part-img">
            <div
              style="
                --swiper-navigation-color: #fff;
                --swiper-pagination-color: #fff;
              "
              class="swiper mySwiper2 border border-4 rounded-5"
            >
              <div class="swiper-wrapper">
                {% for image in images %}  
                <div class="swiper-slide swiper-slide-custom">
                  <img class='swiper-slide-custom' src="{{image.image.url}}" />
                </div>
                {% endfor %}
              </div>
              <div class="swiper-button-next"></div>
              <div class="swiper-button-prev"></div>
            </div>
            <div thumbsSlider="" class="swiper mySwiper">
              <div class="swiper-wrapper justify-content-center">
                {% for image in images %}
                <div class="swiper-slide">
                  <img src="{{image.image.url}}" />
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
          <div class="col-lg-7 part-summary d-flex-column">
            <h1 class="p-3"><strong>{{part.name }}</strong></h1>
            <p class="p-2">
              <span class="text-danger"><strong>مدل های به کار رفته : </strong>
              </span>
              TWS-80410ST , TFI6219WT
            </p>
            <p class='px-2'><strong>کد فنی : </strong>{{part.part_number}}</p>

            <p class="px-2"><strong>مشخصات محصول : </strong></p>
            <div class=><p class=''>{{part.description}}</p></div>
            <p class='mx-2'><strong>قیمت : </strong></p>
            {% if part.is_onsale == 1 %}
            <div class="h-0 price d-inline-block bg-light m-1 p-4 rounded-5 text-center">
              <h6 class='text-decoration-line-through text-danger'>{{part.price}} تومان</h6>
              <h4>{{part.discounted_price}} تومان</h4>
            </div>
            {% elif part.popular == 1 %}
            <div class="h-0 price d-inline-block bg-light m-1 p-4 rounded-5">
              <h4>{{part.price}} تومان</h4>
            </div>
            {% else %}
            <div class="h-0 price d-inline-block bg-light m-1 p-4 rounded-5">
              <h4>استعلام بگیرید</h4>
            </div>
            {% endif %}
            <p class='d-inline-block my-5'>
              جهت ثبت سفارش ، استعلام قیمت و یا دریافت مشاوره جهت خرید
              <a href="{% url 'main:contact' %}"> نحوه ثبت سفارش</a> را مشاهده کنید.
            </p>
          </div>
        </div>
      </div>
    </div>

    {% endblock %}

    {% block jsFiles %}
    {% comment %}
      javascript files related to this page gose here
    {% endcomment %}

  <!-- JS file -->
  <script src="{% static './js/imageSwiper.js' %}"></script>

  {% endblock %}