{% extends 'base.html' %}
{% load static %} 

{% block cssFiles %}

{% comment %}
  linked css files related to this page
  {% endcomment %}

    <!--  CSS Files -->
    <link rel="stylesheet" href="{% static './css/main.css' %}" />
    <link rel="stylesheet" href="{% static './css/parts_list.css' %}" />

    {% endblock %}

    {% block body %}

    {% comment %}
    the body part goes here
    {% endcomment %}

    <div class="container header-text">
      <div class="p-3 my-5">
        <h3>
          <span class="p-3 border-bottom rounded-5"> {{cat_name}} </span>
        </h3>
      </div>
    </div>

    <!-- Mobile Filters -->
    <div class="container-fluid d-lg-none">
      <div class="d-inline-flex gap-1">
        <button
          class="btn btn-secondary"
          data-bs-toggle="collapse"
          href="#filtercollapse"
          role="button"
          aria-expanded="false"
          aria-controls="collapseExample"
        >
          filter by model
        </button>
        <button
          class="btn btn-secondary"
          data-bs-toggle="collapse"
          href="#ordercollapse"
          role="button"
          aria-expanded="false"
          aria-controls="collapseExample"
        >
          order by
        </button>
      </div>
      <div class="collapse" id="filtercollapse">
        <div id="mobilefilter">
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="flexCheckDefault"
            />
            <label class="form-check-label" for="flexCheckDefault">
              Default checkbox
            </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="flexCheckDefault"
            />
            <label class="form-check-label" for="flexCheckDefault">
              Default checkbox
            </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="flexCheckDefault"
            />
            <label class="form-check-label" for="flexCheckDefault">
              Default checkbox
            </label>
          </div>
        </div>
      </div>
      <div class="collapse" id="ordercollapse">
        <div id="mobilefilter">
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="flexCheckDefault"
            />
            <label class="form-check-label" for="flexCheckDefault">
              Default checkbox
            </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="flexCheckDefault"
            />
            <label class="form-check-label" for="flexCheckDefault">
              Default checkbox
            </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="flexCheckDefault"
            />
            <label class="form-check-label" for="flexCheckDefault">
              Default checkbox
            </label>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <!-- SideBar Filters -->
      <div
        id="filtersidebar"
        class="col-2 d-none d-lg-inline-grid justify-content-center p-0 h-100"
      >
        <p class="text-center border-bottom pb-2">
          <strong>فیلتر بر اساس مدل</strong>
        </p>
        <div class="sidebar-wraper justify-content-center p-3">
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="flexCheckDefault"
            />
            <label class="form-check-label" for="flexCheckDefault">
              TWS-1280ST
            </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="flexCheckDefault"
            />
            <label class="form-check-label" for="flexCheckDefault">
              دوسلدورف
            </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="flexCheckDefault"
            />
            <label class="form-check-label" for="flexCheckDefault">
              Default checkbox
            </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="flexCheckDefault"
            />
            <label class="form-check-label" for="flexCheckDefault">
              Default checkbox
            </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="flexCheckDefault"
            />
            <label class="form-check-label" for="flexCheckDefault">
              Default checkbox
            </label>
          </div>
        </div>
      </div>

      <!-- Cards -->
      <div class="cards col-12 col-lg-9">
        <div class="container-fluid cards-container">
          <div
            class="row row-cols-2 row-cols-md-3 row-cols-lg-5 g-1 g-md-3 g-lg-5"
          >
            <div class="col">
              <div class="card d-flex text-center">
                <a class="card-link text-decoration-none text-dark" href="#">
                  <img
                    src="./images/2da03030007.jpg"
                    class="card-img-top img-fluid p-1"
                    alt="..."
                  />
                  <div class="card-body swiper-slide">
                    <h5 class="card-title">پمپ تخلیه مدیا</h5>
                    <hr />
                    <div class="card-text">
                      <p class="product-price mt-1">2,900,000 تومان</p>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="col">
              <div class="card d-flex text-center">
                <a class="card-link text-decoration-none text-dark" href="#">
                  <img
                    src="./images/2da03030007.jpg"
                    class="card-img-top img-fluid p-1"
                    alt="..."
                  />
                  <div class="card-body swiper-slide">
                    <h5 class="card-title">پمپ تخلیه مدیا</h5>
                    <hr />
                    <div class="card-text">
                      <p class="product-price mt-1">2,900,000 تومان</p>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="col">
              <div class="card d-flex text-center">
                <a class="card-link text-decoration-none text-dark" href="#">
                  <img
                    src="./images/2da03030007.jpg"
                    class="card-img-top img-fluid p-1"
                    alt="..."
                  />
                  <div class="card-body swiper-slide">
                    <h5 class="card-title">پمپ تخلیه مدیا</h5>
                    <hr />
                    <div class="card-text">
                      <p class="product-price mt-1">2,900,000 تومان</p>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="col">
              <div class="card d-flex text-center">
                <a class="card-link text-decoration-none text-dark" href="#">
                  <img
                    src="./images/2da03030007.jpg"
                    class="card-img-top img-fluid p-1"
                    alt="..."
                  />
                  <div class="card-body swiper-slide">
                    <h5 class="card-title">پمپ تخلیه مدیا</h5>
                    <hr />
                    <div class="card-text">
                      <p class="product-price mt-1">2,900,000 تومان</p>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="col">
              <div class="card d-flex text-center">
                <a class="card-link text-decoration-none text-dark" href="#">
                  <img
                    src="./images/2da03030007.jpg"
                    class="card-img-top img-fluid p-1"
                    alt="..."
                  />
                  <div class="card-body swiper-slide">
                    <h5 class="card-title">پمپ تخلیه مدیا</h5>
                    <hr />
                    <div class="card-text">
                      <p class="product-price mt-1">2,900,000 تومان</p>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="col">
              <div class="card d-flex text-center">
                <a class="card-link text-decoration-none text-dark" href="#">
                  <img
                    src="./images/2da03030007.jpg"
                    class="card-img-top img-fluid p-1"
                    alt="..."
                  />
                  <div class="card-body swiper-slide">
                    <h5 class="card-title">پمپ تخلیه مدیا</h5>
                    <hr />
                    <div class="card-text">
                      <p class="product-price mt-1">2,900,000 تومان</p>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="col">
              <div class="card d-flex text-center">
                <a class="card-link text-decoration-none text-dark" href="#">
                  <img
                    src="./images/2da03030007.jpg"
                    class="card-img-top img-fluid p-1"
                    alt="..."
                  />
                  <div class="card-body swiper-slide">
                    <h5 class="card-title">پمپ تخلیه مدیا</h5>
                    <hr />
                    <div class="card-text">
                      <p class="product-price mt-1">2,900,000 تومان</p>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% endblock %}

    {% block jsFiles %}
    {% comment %}
      javascript files related to this page gose here
    {% endcomment %}

  {% endblock %}