<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>آلین پارت</title>
    <script
      src="https://kit.fontawesome.com/b0edde79cb.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="../../statics/css/home.css" />
    <link rel="stylesheet" href="../../statics/css/main.css" />
    
  </head>
  <body>
    <header>
      <div class="header">
        <h1>آلین پارت</h1>
        <br />
        <p>تنها نمایندگی رسمی فروش قطعات پاکشوما</p>
      </div>
      <nav>
        <div class="nav-right">
          <a href="#"><i class="fa-solid fa-house"></i></a>
          <div class="dropdown">
            <button class="dropbtn">
              دسته بندی <i class="fa fa-caret-down"></i>
            </button>

            <div class="dropdown-content">
              <a href="#">لباسشویی اتوماتیک</a>
              <a href="#">لباسشویی دوقلو</a>
              <a href="#">ظرفشویی</a>
              <a href="#">یخچال و فریزر</a>
              <a href="#">جاروبرقی</a>
              <a href="#">اکسسوری</a>
            </div>
          </div>
          <a href="#">تماس با ما</a>
        </div>
        <div class="nav-left">
          <input class="search-bar" type="text" placeholder="   جستجو..." />
          <button class="search-btn">
            <i class="fa-solid fa-magnifying-glass"></i>
          </button>
        </div>
      </nav>
    </header>
    <section class="slider">
      <div class="slides">
        <div id="slide1"><img src="./images/p1.jpg" alt="" /></div>
        <div id="slide2"><img src="./images/p2.jpg" alt="" /></div>
        <div id="slide3"><img src="./images/p3.jpg" alt="" /></div>
        <div id="slide4"><img src="./images/p4.jpg" alt="" /></div>
      </div>
      <div class="slide-button">
        <i class="fa-solid fa-circle"></i>
        <i class="fa-solid fa-circle"></i>
        <i class="fa-solid fa-circle"></i>
        <i class="fa-solid fa-circle"></i>
      </div>
    </section>
  </body>
</html>
